/*页面主体部分*/
article{
    /*width:100%;*/
    width:100%;
    background:#FAFAFA;
}
#brief{
    width: 100%;
    height: 500px;
    background-image: url("../image/banner03.png");
    background-repeat: no-repeat;
    background-size: 1;
    background-position: center center;
}
#brief h4{
    display: block;
    padding-top: 174px;
    margin-left: 18.75%;
    font-size:36px;
    font-family:MicrosoftYaHei;
    color:rgba(255,255,255,1);
}
#brief .line{
    margin-left: 18.75%;
    margin-top: 39px;
    width:6.25%;
    height:2px;
    background:rgba(65,54,242,1);
}
#brief p{
    margin-left: 18.75%;
    margin-top: 40px;
    width:39.79%;
    font-size:14px;
    font-family:MicrosoftYaHei;
    color:rgba(255,255,255,1);
    line-height:24px;
}
#gain{
    width: 100%;
    height: 1062px;
    background: #FFF;
}
#gain .box{
    display: flex;
    justify-content: center;
    margin: 100px auto; 
    width: 71.36%;
    height: 460px;
    box-shadow:4px 7px 32px 0px rgba(65,54,242,0.13);
}
#gain img{
    width:60.2%;
    height:460px;
}
#gain .content{
    display: flex;
    width: 39.8%;
    height: 460px;
    flex-direction: column;
    background: #FFFFFF;
}
#gain .right{
    width: 100%;
    height: 405px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    overflow: hidden;
}
#gain .right span{
    display: block;
    margin-top: 59px;
    font-size:26px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.contain{
    width:1000px;
    height:157px;
    position: relative;
}
#gain .right p.one{
    position: absolute;
    top: 60px;
    left: 0;
    width:350px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
}
p.two{
    position: absolute;
    top: 60px;
    left: 500px;
    width:350px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px; 
}
.blue{
    width:100%;
    height:55px;
    background:rgba(65,54,242,1);
    display: flex;
    justify-content: flex-end;
}
.blue button{
    width: 55px;
    height: 55px;
    border: 1px solid #948EF4;
    background: #4136F2;
    color: #FFFFFF;
}

#meet{
    height: 940px;
}
*{margin:0;padding:0;}
.box2 {width:100%;height:340px;position:relative;}
.list {
    width:1100px;
    height:350px;
    overflow:hidden;
    position:absolute;
    left:50%;
    margin-left:-35%;
    margin-top: 100px;
}
.btn {
    position:absolute;
    top:75%;
    cursor:pointer;
    border: none;
}
.prev{
    left:10%;
}
.next {
    right:7.5%;
}
.box2 li {
    position:absolute;
    top:0;left:0;
    list-style:none;
    transition:all 0.3s ease-out;
}
.box2 img {
    width:651px;
    height:350px;
    float:left;
}
img.left3,img.right3{
    width:36px;
    height:24px;
    border-radius:1px;
    background:#FAFAFA;
}
.p1 {transform:translate3d(-224px,0,0) scale(0.77);}
.p2 {
    transform:translate3d(0px,0,0) scale(0.77);
    transform-origin:0 50%;
    opacity:1;
    z-index:2;
}
.p3 {
    transform:translate3d(224px,0,0) scale(1);
    z-index:3;
    opacity:1;
}
.p4 {
    transform:translate3d(449px,0,0) scale(0.77);
    transform-origin:100% 50%;
    opacity:1;
    z-index:2;
}
.p5 {transform:translate3d(672px,0,0) scale(0.77);}
.p6 {transform:translate3d(896px,0,0) scale(0.77);}
.p7 {transform:translate3d(1120px,0,0) scale(0.77);}
.box2 span {display:block;width:35px;height:1px;background:red;}
    



#share{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    margin: 0;
}
#share .container{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 55px;
    width: 100%;
    height: 494px;
}
#share .item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px 45px;
    cursor: pointer;
    width: 41.25%;
    height: 190px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(227,227,227,1);
}
#share .top{
    display: flex;
    width:100%;
    height:65px;
    background:#FFFFFF;
}
#share .top p{
    margin-left: 30px;
    margin-top: 16px;
    font-size:20px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
#share .bottle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    width: 100%;
    height: 115px;
}
.line05{
    margin-top: -1.5px;
    width:100px;
    height:1.5px;
    background:rgba(65,54,242,1);
}
.bottle p{
    margin-top: 15px;
    width:89%;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.bottle span{
    display: flex;
    margin-top: 8px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
}
#share .item:hover .top p{
    color: #FFFFFF;
}
#share .item:hover .top{
   background: #4136F2;
    transition: 0.5s;
}
#share .item:hover{
    border:1.5px solid rgba(65,54,242,1);
    box-shadow:0px 9px 29px 0px rgba(65,54,242,0.11);
    transition: 0.5s;
}
